<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alumnos Admin</title>

        <!-- Estilos -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,2001,300,3001,400,4001,600,6001,700,7001,800,8001,900,9001" rel="stylesheet">
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
        <link href="css/datatables.min.css" rel="stylesheet">
        <link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
    </head>
    <body>

    <div class="card shadow mb-4">

            <div class="card-body">
                <div class="input-group">
                    <div class="panel-container collapse show m-lg-3">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tabla_Alumnos" width="100%" cellspacing="0">
                                <thead class="bg-success-900 thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Edad</th>
                                        <th>Género</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="js/datatables.min.js"></script>
        <script src="js/alumnos/alumnosAdmin.js"></script>

        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

